<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">	
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js"
	type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Cart</title>
</head>
<body>
	<nav class="navbar bg-dark navbar-expand-sm navbar-dark">
		<a href="#" class="navbar-brand"><i class="material-icons"  id="imageid">local_dining</i>
		<span class="text-white ">truyum</span></a>
		<button type="button" class="navbar-toggler" data-toggle="collapse"
			data-target="#x">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div id="x" class="collapse navbar-collapse">
			<ul class="navbar-nav ml-auto float-right text-white">
				<li class="nav-item "><a routerLink="../food-search">
				<span class="text-white mr-2">MenuItems</span></a></li>
				
				<a routerLink="../cart"><li class="nav-item "><span class="text-white mr-2">Cart</span></li></a>
				<li class="nav-item "><i class="fa fa-user"
					style="font-size: 24px background-color:white "></i> <span
					class="text-white mr-2">{{presentname}}</span></li>
				<li class="nav-item "><span class="text-white"><button type="button" style="background-color: #3b3b45;border-color: #3b3b45;color:white 
					" (click)="logout()" >Logout</button></span></li>
			</ul>
		</div>
	</nav>


	<div class="container">
	<h1 class="mt-5 mb-5">Cart</h1>
		<div class="list-group">
			<div class="list-group-item list-group-item-action flex-column align-items-start " *ngFor="let c of data.menuItemList">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">{{c.name}}</h5>
					<small>${{c.price}}</small>
				</div>
				<div class="float-right">
					<button type="button" (click)="removefromcart(c.id)"><i class="fa fa-trash-o" style="font-size: 24px"></i></button>
				</div>
      </div>
      


	



			<!-- <div
				class="list-group-item list-group-item-action flex-column align-items-start ">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Sandwich</h5>
					<small>99.00</small>
				</div>
				<div class="float-right">
					<i class="fa fa-trash-o" style="font-size: 24px"></i>
				</div>
      </div>
       -->


			<div
				class="list-group-item list-group-item-action flex-column align-items-start ">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Total</h5>
					<small>${{data.total}}</small>
				</div>
      </div>
      
		</div>
	</div>






	<nav class="navbar bg-dark navbar-expand-sm navbar-dark fixed-bottom">
		<h4 class="text-white">Copyright 2019</h4>
	</nav>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>